p, h5 {
  font-family: Georgia;
}

h1 {
  color: maroon;
}

h5 {
  color: rebeccapurple;
}

.title {
  color: teal;
}

.uppercase {
  text-transform: uppercase;
}

.article-title {
  font-family: cursive;
  text-transform: capitalize;
}

.publish-time {
  color: gray;
}

.cursive {
  font-family: cursive;
}

.capitalize {
  text-transform: capitalize;
}

h2.destination {
  font-family: cursive;
}

.description h5{
  color: teal;
}
